# Python 3 packages:
virtualenv
mypy
pipdeptree
pipgrip
numpy
pandas
matplotlib
seaborn
Pillow
scikit-learn
scipy
beautifulsoup4
Flask
Flask-Cors
requests
tqdm
tabulate
youtube-dl
yt-dlp
pip-tools
# tensorflow
# tensorflow-datasets
