@font-face {
        font-family: NEUROPOL;
        src: url(../fonts/NEUROPOL.ttf);
} 

@font-face {
        font-family: Wunderbach;
        src: url(../fonts/WC_Wunderbach_Mix.otf);
} 

@font-face {
        font-family: HighTower;
        src: url(../fonts/HTOWERT.TTF);
}